.main {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
    
}
.facultad_fila {
}
.facuImg {
    display: block;
    text-align: center;
    margin: auto;
    padding: auto;
    width: 50rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}