@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;

}
body{   
    background: linear-gradient(135deg, #C8EBB7, #A6BFFF,#C1F7AC,#49e, #56A847);
    color:  #fff;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    position: relative;
    background-color: #F2E6F8; 
    height: 80px;
    z-index: 100;
    box-shadow: 0 3px 15px #aaa;
}
.logo{
    width: 90px;
    height: 70px;
    margin-left: 20px;
}
.lista{
    display: flex;
    align-items: center;
}
.lista ul li{
    display: inline-block;
    padding: 0 10px;
    margin-left: 20px;
    transition: all .4s;
}
.lista ul li a{
    text-decoration: none;
    color: #111;
    letter-spacing: 1px;
    font-size: 18px;
    position: relative;
    
}
.lista ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0px;
    height: 3px;
    background-color: #8260B7;
    transition: all .4s;
}
.lista ul li:hover{
    transform: scale(1.1);
}
.lista ul li a:hover::before{
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 35px;
    width: 190px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}
.buscar{
    border: 2px solid #C6A5EC;
    padding: 6px 13px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 30px;
    transition-duration: .3s;
    color: #000;
}
.buscar:hover{
    background-color: #D6BEF5;
    border: 2px solid #D6BEF5;
}
/*----------------------------------------------------Info----------------------------------------*/
.info{
    position: absolute;
    height: 190px;
    width: 0;
    background-color: #EEE6FF;
    z-index: -10;
    top: 80px;
    transition: all .5s;
    opacity: 0;
    border-bottom: 1px solid #999;
}
.info.active{
    opacity: 1;
    width: 100%;
}
.flex-info{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 15px;
    justify-content: center;
}
.areas{
    border: 1px solid #A98CFD;
    width: 300px;
    height: 150px;
    margin-top: 5px;
    border-bottom: 10px solid #6068B7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #9C83D4;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: #F1E6FA;
    transition-duration: .6s;
    text-align: center;
    box-shadow: 5px 5px 10px #888;
}
.areas:hover{
    background-color: #F6F2F7;
    transform: translateY(-5px);
}
/*---------------------------------------cursos-------------------------------------*/
.cursos{
    position: absolute;
    height: 190px;
    width: 0;
    background-color: #EEE6FF;
    z-index: -10;
    top: 80px;
    transition: all .5s;
    opacity: 0;
    border-bottom: 1px solid #999;
}
.cursos.activec{
    opacity: 1;
    width: 100%;
}
.flex-curso{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 15px;
    justify-content: center;
}
.curso-a{
    border: 1px solid #A98CFD;
    width: 300px;
    height: 150px;
    margin-top: 5px;
    border-bottom: 10px solid #6068B7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #9C83D4;
    letter-spacing: 1px;
    font-size: 18px;
    background-color: #F1E6FA;
    transition-duration: .6s;
    box-shadow: 5px 5px 10px #888;
}
.curso-a:hover{
    background-color: #F6F2F7;
    transform: translateY(-5px);
}
/*----------------------------------------------------------------------------------------*/
.titulo{
    font-size: 40px;
    letter-spacing: 2px;
    margin: 20px 10px 10px 10px;
    animation-name: animacion;
    animation-duration: .5s;
    font-family: 'Domine', serif; 
    color: #555; 
}
.parrafo{
	letter-spacing: 2px;
	font-size: 25px;	
    margin-left: 10px;
    animation-name: animacion;
    animation-duration: .9s;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #555;
}
.list{
    margin-left: 10px;
    margin-top: 10px;
    animation-name: animacion;
    animation-duration: 1.1s;
}
.list h3{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Domine', serif;
}
.ul{
    margin-left: 20px;
}
.ul li{
    padding: 5px 0;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

@keyframes animacion{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
} 
/*-----------------------------------------------------------------------------------------*/
.burbuja{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    opacity:.3;
    position: absolute;
    bottom: -150;
    left: 5%;
    z-index:  10;
    animation: burbujas 3s linear infinite;

}

.burbuja:nth-child(1){
    width:80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: .7s
}

.burbuja:nth-child(2){
    width:100px;
    height: 100px;
    left: 25%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(3){
    width:100px;
    height: 100px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 1.3s;
}

.burbuja:nth-child(4){
    width:70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: .8s;
}

.burbuja:nth-child(5){
    width:100px;
    height: 100px;
    left: 75%;
    animation-duration: 2.9s;
    animation-delay: 1.5s;
}

.burbuja:nth-child(6){
    width:40px;
    height: 40px;
    left: 90%;
    animation-duration: 2.7s;
    animation-delay: 1.2s;
}
.burbuja:nth-child(7){
    width:30px;
    height: 30px;
    left: 38%;
    animation-duration: 3.2s;
    animation-delay: 1.2s;
}
.burbuja:nth-child(8){
    width:20px;
    height: 20px;
    left: 60%;
    animation-duration: 3.4s;
    animation-delay: 1.2s;
}
@keyframes burbujas{
    0%{
        bottom:0;
        opacity: 0;
    }

    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;

    }
    100%{
        bottom: 100vh;
        opacity:0 ;
    }
}
/*---------------------------------------------------------------------------------------*/
.cajas-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.cajas{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    padding: 10px;
    backdrop-filter: blur(1 0px);
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 10px #ddd;
    margin-top: 20px;
    color: #555;
}
.cajas h3{
    margin-top: 5px;
}
.cajas-i{
    width: 400px;
    height: 450px;
    border-radius: 20px;
    padding: 10px;
    backdrop-filter: blur(1 0px);
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 10px #ddd;
    margin-top: 20px;
    color: #555;
}
.cajas-i-container{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}